<brc-poll-list
    [pollColumns]="pollColumns"
    [pollDataSource]="pollDataSource"
    [scheduleShowRowSelection]="pollShowRowSelection"
    [scheduleTotalRecords]="pollTotalRecords"
    [scheduleRecordsPerPage]="pollRecordsPerPage"
    [schedulePageIndex]="pollPageIndex"
    [configPollList]="configPollList"
    [searchText]="searchText"
    [placeholder]="placeholder"
    (valueFilter)="scheduleFilter($event)"
    (sort)="pollSort($event)"
    (btnAddPoll)="pollAdd($event)"
    (rowDetail)="rowDetail($event)"
    (rowDelete)="rowDelete($event)"
    (pageOnPageChange)="changePage($event)"
    (onChangeSearch)="onChangeSearch($event)"
></brc-poll-list>
