<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div style="padding: 20px 10px 10px 10px;">
        <div>
          <div style="text-align: center; font-weight: 600;">
            <h1>
              <b>{{ configPollList.title }}</b>
            </h1>
          </div>
          <div style="margin-bottom: 20px; display: flex; justify-content: flex-start;">
            <button mat-raised-button color="primary" (click)="onClickBtnAdd()">
              <mat-icon>add</mat-icon>{{ configPollList.btnAdd }}
            </button>
            <input placeholder="Search" style="margin-left: auto;">
          </div>
          <div style="margin: auto; display: block; min-width: 100%; overflow-x: auto;">
            <brc-table [columns]="pollColumns" [dataSource]="pollDataSource" [votes]="votes"
              (rowDetail)="rowDetailEvent($event)" (rowDelete)="rowDeleteEvent($event)">
            </brc-table>
          </div>
          <div>
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link">Previous</a></li>
              <li *ngFor="let index of 10" class="page-item">
                <a class="page-link">{{index + 1}}</a>
              </li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </div>
          <div class="pagination-list" *ngIf="pollDataSource.length > 0">
            <brc-mat-paginator [total]="scheduleTotalRecords" [pageSize]="scheduleRecordsPerPage"
              [pageIndex]="schedulePageIndex" (onPageChange)="onPageEvent($event)"></brc-mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>