<div class="container-fluid">
  <h1 style="text-align:center;">Poll</h1>
  <div class="container-fluid">
    <hr/>
    <div class="row">
      <div class="col-sm-3"><b>Question</b></div>
      <div class="col-sm-9">Cuối tuần này các bạn muốn đi đâu?</div>
    </div>
    <br>
    
    <hr/>
    <div class="row">
      <div class="col-sm-3"><b>Expiration</b></div>
      <div class="col-sm-9">2020-12-31 at 12:10 AM</div>
    </div>
    <br>

    <hr/>
    <div class="row">
      <div class="col-sm-3"><b>Response</b></div>
      <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10">
              <input type="checkbox"  id="check1" name="option1" value="something">  Đi chơi phố
             
              <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="'30'"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>     
                
              </section>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>navigate_next</mat-icon>
            </div>
            <div class="col-sm-1" style="margin-top: 7px;">
              <span matBadge="3" matBadgeOverlap="false"></span>
              <mat-icon>play_circle_outline</mat-icon>
            </div>
            <!-- <div class="col-sm-1">
              <mat-icon>play_circle_outline</mat-icon>
            </div> -->
          </div>
          <br/><br/>

          <div class="row">
            <div class="col-sm-10">
              <input type="checkbox"  id="check1" name="option1" value="something" checked>  Đi shopping
              <section class="example-section">
                <mat-progress-bar
                  [color]="color"
                  [mode]="mode"
                  [value]="'20'"
                  [bufferValue]="bufferValue">
                </mat-progress-bar>  
              </section>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>navigate_next</mat-icon>
            </div>
            <div class="col-sm-1" style="margin-top: 7px;">
              <span matBadge="2" matBadgeOverlap="false"></span>
              <mat-icon>play_circle_outline</mat-icon>
            </div>
            <!-- <div class="col-sm-1">
              <mat-icon>play_circle_outline</mat-icon>
            </div> -->
          </div>

        <br/><br/>

          <div class="row">
            <div class="col-sm-10">
              <input type="checkbox"  id="check1" name="option1" value="something">  Đi cà phê
              <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="'50'"
                    [bufferValue]="bufferValue">
                </mat-progress-bar> 
              </section>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>account_circle</mat-icon>
              <mat-icon>navigate_next</mat-icon>
            </div>
            <div class="col-sm-1" style="margin-top: 7px;">
              <span matBadge="5" matBadgeOverlap="false"></span>
              <mat-icon>play_circle_outline</mat-icon>
            </div>
            <!-- <div class="col-sm-1">
              <mat-icon>play_circle_outline</mat-icon>
            </div> -->
          </div>

          <br/><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9" style="display: flex; flex-direction: row;">
          <mat-icon>add_box</mat-icon>
          <label style="color: black; margin-top: 4px;">Add option</label>
        </div>
      </div>
  </div>
</div>




