<h1 style="text-align: center;">Kĩ năng</h1>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div>
      <a class="btn btn-secondary btn-sm btn-master" routerLink="/">Trở về</a>
      <button class="btn btn-info btn-sm btn-master ng-star-inserted" [hidden]="isClickButtonUpdate"
        (click)="clickButtonUpdate()">Cập nhật</button>
      <button class="btn btn-primary btn-sm btn-master ng-star-inserted" [hidden]="!isClickButtonUpdate"
        (click)="clickButtonAdd()">Thêm</button>
      <button class="btn btn-success btn-sm btn-master ng-star-inserted" [hidden]="!isClickButtonUpdate"
        (click)="clickButtonSave()">Lưu</button>
    </div>
    <br>
    <table class="table table-hover table-sm table-bordered" [hidden]='isClickButtonUpdate'>
      <thead class="thead-light">
        <tr>
          <th>STT</th>
          <th>Loại kỹ năng</th>
          <th>Tên kỹ năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of listEmployeeSkills; let i = index">
          <td>{{i + 1}}</td>
          <td>{{skill.skillTypeName}}</td>
          <td>{{skill.skillName}}</td>
        </tr>
      </tbody>
    </table>
    <form [formGroup]="formGroupSkill" [hidden]="!isClickButtonUpdate" (ngSubmit)="submit()">
      <div *ngFor="let skill of t.controls" class="list-group list-group-flush">
        <div class="list-group-item" style="border: 1px solid black">
          <div [formGroup]="skill" class="form-row">
            <div class="form-group col-6">
              <label>Loại kỹ năng</label>
              <input type="text" class="form-control" formControlName="skillTypeName" />
            </div>
            <div class="form-group col-6">
              <label>Tên kỹ năng</label>
              <input type="text" class="form-control" formControlName="skillName" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>