<div class="pane panel-default">
  <div class="panel-heading">
    <h1 style="text-align: center">Danh sách Nhân viên</h1><br>
    <div class="row" [hidden]="!deleteMessage">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Employee Data Deleted</strong>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" [(ngModel)]="textSearch" placeholder="Search..." class="form-control">
          <button name="search" (click)= "searchEmployee(textSearch)" class="formc-control input-group-append">Search</button>
        </div>
        <table class="table table-hover table-sm" style="border: 2px;">
          <thead class="thead-light">
            <tr>
              <th>Employee Name</th>
              <th>Employee Gender</th>
              <th>Employee Address</th>
              <th>Employee Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees ">
              <td>{{employee.name}}</td>
              <td>{{employee.gender}}</td>
              <td>{{employee.address}}</td>
              <td>{{employee.phone}}</td>
              <td><button (click)="deleteEmployee(employee)" class='btn btn-danger'
                  style="margin-right: 10px;">Delete</button>
                <button (click)="updateEmployee(employee)" class='btn btn-primary'>Update</button>
              </td>
            </tr>

          </tbody><br>
        </table>
        <ul class="pagination justify-content-center" [hidden]="dataIsEmpty">
          <li class="page-item"><a (click)="getPreviousPage()"class="page-link">Previous</a></li>
          <li *ngFor="let index of pageIndexes" class="page-item">
            <a (click)="getPaginationWithIndex(index)" class="page-link">{{index + 1}}</a>
          </li>
          <li class="page-item"><a (click)="getNextPage()" class="page-link">Next</a></li>
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

</div>